In [133]:
import os
import csv
import pandas as pd

In [134]:
# Set path for file
election_csv = os.path.join("..","PyPoll","election.csv")

In [135]:
election_df = pd.read_csv(election_csv)

In [136]:
totalVotes = len(election_df.index)

In [137]:
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [138]:
candidate_counts = election_df["Candidate"].value_counts()
candidate_counts

Khan        188328
Correy       59295
Li           41738
O'Tooley      9022
Name: Candidate, dtype: int64

In [139]:
khan_total = candidate_counts.iloc[0]
correy_total = candidate_counts.iloc[1]
li_total = candidate_counts.iloc[2]
tooley_total = candidate_counts.iloc[3]

In [140]:
percent_tooley = (tooley/totalVotes)

In [141]:
percent_correy = (correy/totalVotes)

In [142]:
percent_li = (li/totalVotes)

In [143]:
percent_khan = (khan/totalVotes)

In [144]:
candidate_counts.to_csv('pandas.txt', header=None, index=["Khan:","Correy:","Li:","O'Tooley:"], sep=' ', mode='w')

In [145]:
file = open("summary.txt","w")
file.write("Election Results:\n")
file.write("Total Votes cast: " + str(totalVotes) +"\n")

25

In [146]:
file.write("Khan: "+"{:.0%}".format(percent_khan) + " ("+ str(khan_total) + ")\n")

19

In [147]:
file.write("Correy: "+"{:.0%}".format(percent_correy) + " ("+ str(correy_total) + ")\n")

20

In [148]:
file.write("Li: "+"{:.0%}".format(percent_li) + " ("+ str(li_total) + ")\n")

16

In [149]:
file.write("O'Tooley: "+"{:.0%}".format(percent_tooley) + " ("+ str(tooley_total) + ")\n")

20

In [150]:
file.write("---------------------------------------------------------------------------------------\n")
file.write("Winner: Khan\n")
file.write("---------------------------------------------------------------------------------------\n")

88

In [151]:
file.close()

In [155]:
#Print all info to terminal:
print("Election Results:\nTotal Votes cast: " + str(totalVotes) +"\n")

Election Results:
Total Votes cast: 298383

In [158]:
print("Khan: "+"{:.0%}".format(percent_khan) + " ("+ str(khan_total) + ")\n")
print("Correy: "+"{:.0%}".format(percent_correy) + " ("+ str(correy_total) + ")\n")

Khan: 63% (188328)

Correy: 20% (59295)

In [160]:
print("Li: "+"{:.0%}".format(percent_li) + " ("+ str(li_total) + ")\n")
print("O'Tooley: "+"{:.0%}".format(percent_tooley) + " ("+ str(tooley_total) + ")\n")

Li: 14% (41738)

O'Tooley: 3% (9022)

In [163]:
print("---------------------------------------------------------------------------------------\nWinner: Khan\n---------------------------------------------------------------------------------------\n")

---------------------------------------------------------------------------------------
Winner: Khan
---------------------------------------------------------------------------------------